/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}
#header{
    width: 100%;
    position: fixed;
    top: 0; left: 0; 
    font-size: 18px;
    z-index: 1000;
}
.box {
    clear: both;
    display: table;
    margin: auto;
}
.menu {
    line-height: 3;
    float: left; 
    background-color: #000000;
 }
.menu ol{
    width: 100%;
    float: left;
    margin: auto;
    }
.menu li{
    float: left;
    margin-left: 20px;
    position: relative;
}
.menu li a{
    text-decoration: none;
    color:  #ABB0B7;
    padding: 20px 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown  button {
    background: none;
    color: #ABB0B7;
    font-size: 18px;
    z-index: 1000;
}
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: black !important;
  }
  
  .dropdown-content a img {
    margin-right: 8px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#catalog{
    clear: both;
    display: table;
    width: 100%;
    /* padding: 10px; */
    background: #151515;
}
.conteiner{
    float: left;
}
.menu2 {
    /* line-height: 2; */
    float: left; 
}
.conteiner a {
    float: left;
    text-decoration: none;
    color: #777;
    padding:  12px;
}
.conteiner img {
    float: left;
}
.conteiner ol{
    float: left;
}
.conteiner ol li {
    float: left;
    /* padding: 20px 40px; */
line-height: 3;
}
.conteiner .logo{
    padding-top: 10px;
    float: left;
    padding-right: 100px;
}
.conteiner .list {
    float: left;
}
.conteiner a:hover{color: #844cd4;;}
.list .number-me {float: left;}
.list .search {float: left;}
.list .cart1 {float: left;}
.list .cart1 .material-symbols-outlined {position: relative;}
.list .cart1 .material-symbols-outlined::after {
    content: '';
    background: #844cd4;
    position: absolute;
    right: 1px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 30px;
}
#conteiner2 {
    display: table;
    clear: both;
    margin: auto;
    padding-top: 200px;
}
#conteiner2 .bx-wrapper {
    border: none;
    box-shadow: 0 0 10px #ccc;
    width: 100%;
}
.slider {
    float: left ;
    background: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}
#content1{
clear: both;
display: table;
width: 70%;
margin: auto;
}
#content1 h3{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
}
.box2 {
   background-color: #000000;
   /* width: 100%; */
   height: 100%;
   padding-top: 20px;
   margin: auto;
}
.text {float: left; width: 100%;}
.text a{float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #844CD4;
    width: 50%;
    text-decoration: none;
}
.text a:hover{color: #23a1d1;}

.row{
    clear: both;
    display: table;
    padding-top: 20px;
    /* margin: auto; */
}
/* .product1{ */
   /* display: table;
    clear: both; */
    /* float: left;
    padding: 0 10px;
    width: 25%;
    position: relative;
    background-color: #1D1D1D;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
} */
/* .product1 hr {width: 70%;margin: auto; background-color: rgba(160, 160, 160, 0.13);} */
.dop-product{
    /* width: 30%; */
    /* display: table; */
}
.row .foto{
    display: table;
    clear: both;
    margin: auto; 
    padding: 20px;
    border-bottom: 1px solid gray;
    position: center center;
}
.product1 .top_sticer {
    position: absolute;
    top:5px; left: 10px; right: auto;
    background-color:#c55959;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}
/* .quickview {
    display: none;
    height: auto;
    line-height: inherit;
    margin: 0;
    position: absolute;
    right: 50%;
    top: 45%;
    transform: translate(10%, -50%);
    text-align: center;
}
.quickview_spirit{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 23px;
    border: medium none;
    box-shadow: none;
    color: #fff;
    /* font-family: SF Pro Display; */
    /* font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 8px 25px;
    transition: all 0.3s ease 0s;
} */ 
.caption {
   display: table;
   clear: both;
    margin: auto;
    /* text-align: center; */
    padding: 10px 20px;
}
.caption .title-price {
    min-height: 35px;
    float: left;
}
.caption a {
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    text-decoration: none;
}
.new-price {
    width: 100%; 
    float: left;
    color: #ABB0B7!important;
    font-size: 18px;
    font-weight: bold;
padding-top: 10px;}

.new-price span.usd {
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D2D2D2;
}
.new-price span.grn {
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; 
}
.old-price {
    width: 100%; 
    float: left;
    color: #d2d3d4!important;
    font-size: 18px;
    font-weight: bold;
padding-top: 10px;
/* position: relative; */
}

.old-price span.usd {
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D2D2D2;
    position: relative;
}
.old-price span.grn {
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; 
    position: relative;
}
.old-price .span.usd::after{
    content: "";
    border-bottom: 5px solid rgb(255, 0, 0);
    position: absolute;
    width: 100%;
    height: 10px;
}
.button-group{
    display: table;
    clear: both;
    padding: 15px 0;
    margin: auto;
}
.product1 .button {
    float: left;
}
.button input {
    text-align: center;
    background: #844CD4;
    border: 1px solid #844CD4;
    border-radius: 25px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 25px;
    color: #FFFFFF;
}
.product1{
    /* display: table;
     clear: both; */
     float: left;
     padding: 0 10px;
     /* width: 15%; */
     position: relative;
     background-color: #1D1D1D;
     border: 1px solid rgba(0, 0, 0, 0.35);
     border-radius: 10px;
     margin-right: 20px;
    }
.product2{
   /* display: table;
    clear: both; */
    float: left;
    padding: 0 10px;
    /* width: 15%; */
    position: relative;
    background-color: #1D1D1D;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-right: 20px;
}
.product3{
    /* display: table;
    clear: both; */
    float: left;
    padding: 0 10px;
    /* width: 15%; */
    position: relative;
    background-color: #1D1D1D;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-right: 20px;
}
.product4{
    /* display: table;
    clear: both; */
    float: left;
    padding: 0 10px;
    /* width: 15%; */
    position: relative;
    background-color: #1D1D1D;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-right: 20px;
}